<html>
    <head>
    <title>Windybasique </title>
   
        <meta name="Author" content="JP Herrenknecht">
        <meta charset="utf-8"/>   
        <meta  name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"    />
        <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
        <script src="https://api.windy.com/assets/map-forecast/libBoot.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://unpkg.com/leaflet-arc/bin/leaflet-arc.min.js"></script>
       
        <script src="https://unpkg.com/leaflet.boatmarker/leaflet.boatmarker.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vrouteur.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/vrouteur.js') }}"></script>

        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

   
    <script type="text/javascript">



    var windiv=document.getElementById("windy")
    const options = 
	{ key: 'ydO74Xuxv2WWOEShDpel1kaiae8zCnLO', verbose: true,lat: -45,lon: 175, zoom:6  };             //Positionné sur La Rochelle
    
    windyInit(options, windyAPI => { const {map, picker, utils, broadcast,store } = windyAPI;
var popup = L.popup(); 

var layerExclusions = new L.LayerGroup()
   layerExclusions.addTo(map);


// Exemple d'appel
const tabexclusions = [ [[-48,120],[-48,148],[-67,148],[-67,120],[-48,120]],
  [[-48,148],[-48,180],[-67,180],[-67,148],[-48,148]],
  [[-48,-180],[-48,-75],[-67,-110],[-67,-180],[-48,-180]]
];

afficheExclusions(tabexclusions,map,layerExclusions,{ color:"red", weight:2, opacity:1 });


var routageLayer = new L.LayerGroup()
var tooltipprog = new Array();
var circleprog = new Array();
var polyglobal = new Array();

//test avec niso,dt,lat,lon,twa,cap,voile
tabroutage=[[1,0,-44,159,135,118,6],[1,0,-45,165,135,118,6],[1,0,-47,175,135,118,5],[1,0,-41,179,135,118,5],[1,0,-43,181,135,118,4],
[1,0,-44,185,185,118,4],[1,0,-42,195,135,118,5],[1,0,-40,200,135,118,6],[1,0,-41,205,135,118,6],[1,0,-44,210,135,118,6],[1,0,-43,222,135,118,6],]
//on va l afficher comme un routage
var colors = ['red', 'lime', 'blue', 'orange', 'darkgreen', '#b00000', '#d77900'];


// affichage routage qui marche 
// routageLayer.clearLayers()
//                 for (var i = 1; i <= tabroutage.length - 1; i++)                // on affiche les nouveaux points mais pas le premier pas necessaire 
//                 {
//                     couleur = colors[tabroutage[i][6]]
//                     voile = tabroutage[i][6]
//                     tooltipprog[i] = '<b> Point ' + i  + '  Voile :' + voile             // le temps est en position 3
//                     tourcol = 'red'; opac = 1; poids = 1; fillopac = 0.5; fillCol = couleur; rayon = 10;       // valeur par defaut  
//                     if (i % 10 == 0) { rayon = 20, tourcol = 'red'; fillopac = 0.5 }              // tous les 10    
//                     if (tabroutage[i][1] % 3600 == 0) { tourcol = 'white'; rayon = 50, fillopac = 0.5 }                    // toutes les heures 
//                     circleprog[i] = L.circle([tabroutage[i][2], tabroutage[i][3]], { fillColor: fillCol, color: tourcol, weight: poids, opacity: opac, fillOpacity: fillopac, radius: rayon, })
//                         .bindTooltip(tooltipprog[i]).bindPopup(tooltipprog[i]).addTo(routageLayer)
//                 }

//                for (var i = 0; i <= tabroutage.length - 2; i++)                // on affiche les nouveaux points mais pas le premier pas necessaire 
//                 {
//                     couleur = colors[tabroutage[i][6]]
//                     polyglobal[i] = L.polyline([[tabroutage[i][2], tabroutage[i][3]], [tabroutage[i + 1][2], tabroutage[i + 1][3]]], { color: couleur, weight: 3 }).addTo(routageLayer);
//                 }

//                 routageLayer.addTo(map)




afficheRoutageWrapped(tabroutage, map, routageLayer, colors, {
  idxLat: 2,
  idxLon: 3,
  idxVoile: 6
});






map.on('contextmenu', function(e)
        {  
            popup.setLatLng(e.latlng) .setContent
                ( "  <b>   Latitude &nbsp; &nbsp;: " +pos_dec_mn(e.latlng.lat)+" (" +arrondi(e.latlng.lat,4) + ") "
                +" <br> Longitude : " +pos_dec_mn(e.latlng.lng)+" ("+arrondi(e.latlng.lng,4)+")"
                )
                .openOn(map);
        }); 
    
});
    </script>
    </head>
    <body>
        <div id="windy"></div>   
    </body>
</html>